@media (min-width: 768px) {
  .container {
    max-width: 730px;
    padding-top: 20px;
  }
}

@media (max-width: 768px) {
    #add-song>div>button {
        margin-top: 10px;
    }
}

.points {
    padding-left: 10px;
    padding-right: 10px;
}

.song-title {
    word-wrap: break-word;
    width: 99%;
}

.song-vote {
    white-space: nowrap
}



.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}