{% extends "layout.html" %}
{% block body %}
  <h1>Music</h1>
  <div class="row">
      <div class="col-sm-10">
          <input type="text" id="input" class="form-control" placeholder="Kirjuta siia loo nimi!">
      </div>
      <div class="col-sm-2">
          <button type="button" class="btn btn-success btn-block" id="postInfo">Lisa lugu</button>
      </div>
  </div>
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th>Hääled</th>
        <th>Lugu</th>
      </tr>
    </thead>
    <tbody>
      {% for song in songs %}
      <tr>
        <td style="width:130px"><button class="btn up-vote {{ song._id }}">▲</button><span class="points {{ song._id }}"></span><button class="btn down-vote {{ song._id }}">▼</button></td>
        <td>{{ song.title }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}